.menu {
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;

}
.menu i {
    box-sizing: border-box; 
    height: 60px;
    cursor: pointer;
    font-weight: 700;
}
.buscador {
   
   left: 20%;
   top: 80%;
   transform: translate(-20%, -20%);
   padding: 20px; 
   transition: .5s;
   line-height: 80px;

}
input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: green;
    border-radius: 50px;
    
    border: 2px solid green;
    transition: all .5s ease;
} 
::placeholder{
    color: green;
} 

.btn{
   position: absolute;
   right: 0;
   top: 0;
   width: 80px;
   height: 80px;
   background: green;
   line-height: 80px;
   border-radius: 50%;
   text-align: center;
   cursor: pointer;
   transition: .5s;
   align-items: center;
   
}
.btn i {
    font-size: 25px;
    color: green;
    line-height: 80px;
    transition: .7s ease;
    
}
.buscador:hover input {
    width: 450px;
    
}

.buscador:hover i {
    transform: rotate(-360deg);
    
}
.btn:hover{
    background: green;
}
.logo {
    padding: 12px 80px 12px 12px;
}
.logo img{
    width: 80px;
    height: 60px;
    border-radius: 50%;
    
    
    
   
}
.ubicacion i {
    color: orangered;
}
.ubicacion a {
    color: green;
    text-decoration: none;
    padding: 0px 12px 0px 0px;

}
.ingresar a {
    display: block;
    font-weight: 700;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: green;
    
    
    

}.carrito i {
    color: green;
    padding: 12px;
    cursor: pointer;
    transition: .5s;
    
}
